.myPokemons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon {
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 30vw;
    margin: 5px;
}
.form-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-check button {
    margin: 5px;
}
.infos {
    width: 100%;
}
